th{
    text-align: center;
}

td{
    text-align: center;
}

.container{
    padding-top: 5%;
}

.logo-congreso{
    width: 50px;
}
#imagen-index{
    width: 95%;

}

.container{
  padding-bottom: 10%;
}

